NEXT_PUBLIC_SUPABASE_URL=https://thrazxhwqetphjogcdji.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8JCzcLEIlLwC-pXmOsZoCw_-msYi8_w
SUPABASE_SERVICE_KEY=your_service_role_key_here
DEMO_PUBLIC_API=true
PORT=3001
